@page "/EstudianteEdit/{idEstudiante:int}"

@using SistemaDeNotas.Data
@using SistemaDeNotas.Data.Model;
@using SistemaDeNotas.Data.Services;

@inject IEstudianteService EstudianteService
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Http

<h3>Editar Estudiante </h3>

<EditForm Model="@estudiante" OnValidSubmit="@EstudianteUpdate">
    <table>
        <tr>
            <td><input type="hidden"  @bind="estudiante.id" required disabled /></td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" @bind="estudiante.Nombres"  /></td>
        </tr>
        <tr>
            <td>Apellido:</td>
            <td><input type="text" @bind="estudiante.Apellidos" /></td>
        </tr>                          
        <tr>                           
            <td>Direccion:</td>        
            <td><input type="text" @bind="estudiante.Direccion" /></td>
        </tr>

        <tr>
            <td>Telefono:</td>
            <td><input type="text" @bind="estudiante.Telefono" /></td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td><input type="text" @bind="estudiante.Correo" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Adicionar" @onclick="@EstudianteUpdate" />
                <input type="button" value="Cancelar" @onclick="@Cancel" />
            </td>
        </tr>
    </table>
</EditForm>


@code {

    [Parameter]
    public int idEstudiante { set; get; }

    Estudiante estudiante = new Estudiante();

    protected override async Task OnInitializedAsync()
    {
        if(idEstudiante > 0)
        {
            estudiante = await EstudianteService.GetEstudianteDetail(idEstudiante);
        }

    }

    protected async Task EstudianteUpdate()
    {
        await EstudianteService.EstudianteUpdate(estudiante);

        NavigationManager.NavigateTo("/");
    }

    protected void Cancel() {
    }

}
