@page "/EstudianteAdd"

@using SistemaDeNotas.Data.Model
@using SistemaDeNotas.Data.Services

@inject IEstudianteService EstudianteService
@inject NavigationManager NavigationManager

<h1>Adicionar Film</h1>

<EditForm Model="@estudiante" OnValidSubmit="@EstudianteInsert">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" @bind="estudiante.idEstudiante" required /></td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" @bind="estudiante.NombresEstudiante" required /></td>
        </tr>
        <tr>
            <td>Apellido:</td>
            <td><input type="text" @bind="estudiante.ApellidosEstudiante" /></td>
        </tr>
        <tr>
            <td>Direccion:</td>
            <td><input type="text" @bind="estudiante.DireccionEstudiante" /></td>
        </tr>

        <tr>
            <td>Telefono:</td>
            <td><input type="text" @bind="estudiante.TelefonoEstudiante" /></td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td><input type="text" @bind="estudiante.CorreoEstudiante" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Adicionar" />
                <input type="button" value="Cancelar" @onclick="@Cancel" />
            </td>
        </tr>
    </table>
</EditForm>
        @code {

            Estudiante estudiante = new Estudiante();

            protected async Task EstudianteInsert() {
                await EstudianteService.EstudianteInsert(estudiante);
                NavigationManager.NavigateTo("/");
            }

            protected void Cancel()
            {
                
            }
        }
