@page "/Horario"
@using SistemaDeNotas.Data
@using SistemaDeNotas.Data.Model
@using SistemaDeNotas.Data.Services

@inject IHorarioService HorarioService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Http

<h1>Horario</h1>

                Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
