@page "/NotasAdd"

@using SistemaDeNotas.Data.Model
@using SistemaDeNotas.Data.Services

@inject IMatriculaService MatriculaService
@inject NavigationManager NavigationManager

<h1>Adicionar Film</h1>
 
<EditForm Model="@nota" OnValidSubmit="@NotasInsert">
    <table>
        <tr>
            <td>Id:</td>
         
        </tr>
        <tr>
            <td>Nota 1:</td>
         
        </tr>
        <tr>
            <td>Nota 2:</td>
          
        </tr>
        <tr>
            <td>Nota 3:</td>
         
        </tr>

        <tr>
            <td>Estudiante:</td>
       
        </tr>
        <tr>
            <td>Materia :</td>
        
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Adicionar" />
                <input type="button" value="Cancelar" @onclick="@Cancel" />
            </td>
        </tr>
    </table>
</EditForm>
@code {

    matricula nota = new matricula();

    protected async Task NotasInsert()
    {
        await MatriculaService.NotasInsert(nota);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {

    }
}
